@model IEnumerable<RecipeManagerCoreMVC.Data.ApplicationUser>;
@{
    ViewData["Title"] = "List Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>List Users</h1>

<a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3">Add new user</a>
@if (Model.Any())
{
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User Name</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                    <td>
                        <form method="post" asp-controller="Administration" asp-action="DeleteUser" asp-route-id="@user.Id">
                            <a asp-controller="Profile" asp-action="Details" asp-route-userName="@user.UserName" class="btn btn-primary">View</a>
                            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@user.Id" class="btn btn-primary">Edit</a>
                            <a href="#" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal_@user.Id">Delete</a>
                            <div class="modal fade" id="deleteModal_@user.Id" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel_@user.Id" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel_@user.Id">Delete User</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete user? This action cannot be undone.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                                            <button type="submit" class="btn btn-primary">Yes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="card">
        <div class="card-header">
            No Users
        </div>
        <div class="card-body">
            <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary">Add new user</a>
        </div>
    </div>
}