@using Microsoft.AspNetCore.Identity;
@using RecipeManagerCoreMVC.Data;
@inject UserManager<ApplicationUser> UserManager;
@model RecipeManagerCoreMVC.Models.RecipeModel;
@{
    ViewData["Title"] = "Details";
    var photoPath = "~/Images/UploadedImages/" + (Model.RecipeInfoModel?.PhotoPath ?? "defaultImg.jpg");
}

<div class="container">
    <h1 class="h1 text-center mt-2">@Model.RecipeName</h1>
    <div class="mx-auto my-3" style="width: 600px;">
        <img src=@photoPath asp-append-version="true" class="img-fluid" />
    </div>
    <div>
        <p>@Model.RecipeDescription</p>
    </div>
    <form method="post" asp-controller="Recipes" asp-action="Favorites" asp-route-recipeId="@Model.Id">
        @if (!ViewBag.FavoriteSaved)
        {
            <a class="mb-3 float-right" href="#" data-toggle="modal" data-target="#favoriteModal_@Model.Id">Add to Favorites</a>
            <div class="modal fade" id="favoriteModal_@Model.Id" tabindex="-1" role="dialog" aria-labelledby="favoriteModalLabel_@Model.Id" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="favoriteModalLabel_@Model.Id">Add to Favorites</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Add recipe favorites?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                            <button type="submit" class="btn btn-primary">Yes</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <a class="mb-3 float-right" href="#">Saved</a>
        }
    </form>
    <p>
        <strong>Author: </strong>
        @if (Model.Author != null) 
        {
            <a asp-controller="Profile"  asp-action="Details" asp-route-userName="@Model.Author.UserName">@Model.Author.UserName</a>
        }
    </p>
    <div class="border mb-3">
        <div class="row">
            <div class="col-sm-8">
                <h3 class="pl-1">Ingredients:</h3>
                @foreach (var ingredients in Model.RecipeIngredientModels)
                {
                    <div>
                        <ul>
                            <li><p>@ingredients.IngredientQuantity @ingredients.IngredientUnit @ingredients.IngredientsModel.Ingredient</p></li>
                        </ul>
                    </div>
                }
            </div>
            <div class="border-left col-sm-4 pt-3">
                <p><strong>Recipe Type:</strong> @Model.RecipeType</p>
                <p><strong>Yield:</strong> @if (Model.RecipeInfoModel != null) { @Model.RecipeInfoModel.Yield; }</p>
                <p><strong>Prep:</strong> @if (Model.RecipeInfoModel != null) { @Model.RecipeInfoModel.PrepTime; }</p>
                <p><strong>Cook:</strong> @if (Model.RecipeInfoModel != null) { @Model.RecipeInfoModel.CookTime; }</p>
                <p><strong>Total:</strong> @if (Model.RecipeInfoModel != null) { @Model.RecipeInfoModel.TotalTime; }</p>
            </div>
        </div>
    </div>
    <div class="border">
        <h3 class="pl-1">Instructions:</h3>
        @{var counter = 1; }
        @foreach (var instructions in Model.InstructionModels)
        {
            <div class="px-2">
                <h4>Step @counter:</h4>
                <p>@instructions.Instruction</p>
            </div>
            counter++;
        }
    </div>
    @if (User.HasClaim("IsAdmin", "true"))
    {
        <div class="row justify-content-center mt-3">
            <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary mr-1 details-btn-w">Edit</a>
            <form method="post" asp-controller="Recipes" asp-action="Delete">
                <input name="Id" value="@Model.Id" hidden />
                <button class="btn btn-danger ml-1 details-btn-w" type="submit">Delete</button>
            </form>
        </div>
    }
</div>
