@model RecipeManagerCoreMVC.Models.RecipeModel
@{
    ViewData["Title"] = "Edit";
}

<form method="Post" asp-controller="Recipes" asp-action="Edit">
    <div class="form-group row">
        <label asp-for="RecipeName" class="col-sm-2 col-form-label"></label>
        <input asp-for="RecipeName" class="form-control col-sm-10" />
        <span asp-validation-for="RecipeName" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeDescription" class="col-sm-2 col-form-label"></label>
        <textarea asp-for="RecipeDescription" class="form-control col-sm-10"></textarea>
    </div>
    <div class="form-group row">
        <label asp-for="RecipeType" class="col-sm-2 col-form-label"></label>
        <select asp-for="RecipeType" asp-items='Html.GetEnumSelectList<Enums.RecipeType>()
            .Where(x => x.Value != "0")' class="form-control col-sm-3"></select>
    </div>
    <div class="border mb-3">
        <h4>Ingredients</h4>
        <button id="addIngredientButton" type="button" class="btn btn-primary">Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Quantity</th>
                    <th scope="col" style="width: 10%;">Unit</th>
                    <th scope="col" style="width: 80%;">Ingredient</th>
                </tr>
            </thead>
            <tbody id="ingredientTBody">
                @{ var i = 0; }
                @foreach (var recipeIngredients in Model.RecipeIngredientModels)
                {
                <tr>
                    <td>
                        <input asp-for="@recipeIngredients.IngredientId" name="RecipeIngredientModels[@i].IngredientId" hidden />
                        <input asp-for="@recipeIngredients.IngredientQuantity" name="RecipeIngredientModels[@i].IngredientQuantity" />
                    </td>
                    <td>
                        <input asp-for="@recipeIngredients.IngredientUnit" name="RecipeIngredientModels[@i].IngredientUnit" />
                    </td>
                    <td>
                        <input asp-for="@recipeIngredients.IngredientsModel.Ingredient" name="RecipeIngredientModels[@i].IngredientsModel.Ingredient" />
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                    i++;
                }
            </tbody>
        </table>
    </div>
    <div class="border">
        <h4>Instructions</h4>
        <button id="addInstructionButton" type="button" class="btn btn-primary">Add</button>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" style="width: 10%;">Step</th>
                    <th scope="col" style="width: 90%;">Instruction</th>
                </tr>
            </thead>
            <tbody id="instructionTBody">
                @{ 
                    var j = 0;
                    var step = 1;
                } 
                @foreach (var instructions in Model.InstructionModels)
                {
                    <tr>
                        <td style="text-align: center;"><input asp-for="@instructions.Id" name="InstructionModels[@j].Id" hidden /><strong>@step</strong></td>
                        <td><input asp-for="@instructions.Instruction" name="InstructionModels[@j].Instruction" /></td>
                        <td><button type="button" class="btn btn-danger">Delete</button></td>
                    </tr>
                    j++;
                    step++;
                }
            </tbody>
        </table>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
    <a asp-controller="Recipes" asp-action="Index" class="btn btn-primary">Back</a>
</form>

@section Scripts{
    @{ // Client side validation.
        <partial name="_ValidationScriptsPartial" /> 
    }
    
<script>
        $(document).ready(function () {
            var index = "@Model.RecipeIngredientModels.Count()";
            var count = 0;
            $("#addIngredientButton").click(function () {
                $("#ingredientTBody")
                    .append('<tr><td><input type="text" name="RecipeIngredientModels[' + index + '].IngredientQuantity" /></td>'
                        + '<td><input type="text" name="RecipeIngredientModels[' + index + '].IngredientUnit" /></td>'
                        + '<td><input type="text" name="RecipeIngredientModels[' + index + '].IngredientsModel.Ingredient" /></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr');
                index++;
            });
            $("#ingredientTBody").on("click", ".btn", function () {
                $(this).closest("tr").remove();
                count = 0;
                index--;
                $("#ingredientTBody > tr").each(function () {
                    $(this).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\[\d+\]/, "[" + count + "]"));
                    });
                    count++;
                });
            });
        });

        $(document).ready(function () {
            var index = "@Model.InstructionModels.Count()";
            var step = "@Model.InstructionModels.Count()";
            step++;
            $("#addInstructionButton").click(function () {
                $("#instructionTBody")
                    .append('<tr><td style="text-align: center"><strong>' + step + '</strong></td>'
                        + '<td><input type="text" name="InstructionModels[' + index + '].Instruction" /></td>'
                        + '<td><button type="button" class="btn btn-danger">Delete</button></td></tr');
                index++;
                step++;
            });
            $("#instructionTBody").on("click", ".btn", function () {
                $(this).closest("tr").remove();
                count = 0;
                step = 1;
                index--;
                $("#instructionTBody > tr").each(function () {
                    $(this).find("input").each(function () {
                        $(this).attr("name", $(this).attr("name").replace(/\[\d+\]/, "[" + count + "]"));
                    });
                    $(this).find("td:first-child").each(function () {
                        $(this).html("<strong>" + step + "</strong>");
                    });
                    count++;
                    step++;
                });
            });
        });
</script>   
}