@model IEnumerable<RecipeManagerCoreMVC.Models.RecipeModel>
@{
    ViewData["Title"] = "Recipes Page";
}

<div class="container">
    <h4>Recipes</h4>
    <div class="row">
        @foreach (var recipe in Model)
        {
            <div class="col-sm-4 mb-4">
                <div class="card h-100">
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@recipe.Id">
                        <img src="~/Images/defaultImg.jpg" class="card-top img-fluid" />
                    </a>
                    <div class="card-header">
                        @recipe.RecipeName
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="text-truncate">@recipe.RecipeDescription</p>
                            <p>@recipe.RecipeType</p>
                            <p>@recipe.CreatedDate</p>
                            <p>@recipe.UpdatedDated</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="mt-1">
        <a asp-controller="Home" asp-action="Create" class="btn btn-primary">Create</a>
    </div>
</div>