@using Microsoft.AspNetCore.Identity;
@using RecipeManagerCoreMVC.Data;
@inject UserManager<ApplicationUser> UserManager; 
@model RecipeManagerCoreMVC.ViewModels.ProfileViewModel;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Profile/_Layout.cshtml";
}

<section>
    <h4 class="my-3">About Me</h4>
    <div class="row">
        <label asp-for="Email" class="col-sm-3"></label>
        <Input class="col-sm-6" value="@Model.Email" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="UserName" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.UserName" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="FirstName" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.FirstName" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="LastName" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.LastName" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="AboutMe" class="col-sm-3"></label>
        <textarea class="col-sm-6" disabled>@Model.AboutMe</textarea>
    </div>
    <div class="row mt-3">
        <label asp-for="Location" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.Location" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="PinterestLink" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.PinterestLink" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="FacebookLink" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.FacebookLink" disabled />
    </div>
    <div class="row mt-3">
        <label asp-for="TwitterLink" class="col-sm-3"></label>
        <input class="col-sm-6" value="@Model.TwitterLink" disabled />
    </div>
    <div class="row mt-3">
        @if (UserManager.GetUserName(User) == Model.UserName)
        {
            <a asp-area="Identity" asp-page="/Account/Manage/Index" class="col-sm-12">Edit my profile</a>
        }
    </div>
</section>
