@model List<RecipeManagerCoreMVC.Models.RecipeModel>
@{
    ViewData["Title"] = "Home Page";
    var typePhotos = new[] {"breakfastImg.jpg", "mainImg.jpg", "sideImg.jpg", "dessertImg.jpg", "drinkImg.jpg"};
    var featuredPhoto1 = "~/Images/" + (Model[0].RecipeInfoModel?.PhotoPath ?? "defaultImg.jpg"); 
    var featuredPhoto2 = "~/Images/" + (Model[1].RecipeInfoModel?.PhotoPath ?? "defaultImg.jpg"); 
    var featuredPhoto3 = "~/Images/" + (Model[2].RecipeInfoModel?.PhotoPath ?? "defaultImg.jpg"); 
}

<div class="container">
    <div class="bg-black">
        <div class="recipeType-div">
            <h4 class="recipeType-bg-gold">Recipe Types</h4>
        </div>
        <div class="row">
            @{int i = 0; }    
            @foreach (var recipeType in Enum.GetValues(typeof(Enums.RecipeType)))
            {
                if (recipeType.ToString() != "All")
                {
                    <div class="col-sm px-1 pb-3">
                        <div class="card rounded-0 recipeType-card">
                            <div class="embed-responsive embed-responsive-4by3">
                                <a asp-controller="Recipes" asp-action="Index" asp-route-recipeType="@recipeType">
                                    <img src="~/Images/@typePhotos[i]" asp-append-version="true" class="card-img-top embed-responsive-item" />
                                </a>
                            </div>
                            <div id="rt-card-body" class="card-body">
                                <h5 class="text-center" style="margin-top: 8px;">@recipeType</h5>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    </div>
    <div class="bg-black mt-5 div-height">
        <div class="recipeType-div">
            <h4 class="recipeType-bg-gold">Featured</h4>
        </div>
        <div class="row flex-column div-height">
            <div class="col-sm-12 px-1 pb-3" style="width: 40.5rem;">
                <div class="card rounded-0">
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model[0].Id" asp-route-name="@Model[0].RecipeName">
                        <img src=@featuredPhoto1 asp-append-version="true" class="card-top img-fluid" />
                    </a>
                    <div class="card-header text-center">
                        <h5>@Model[0].RecipeName</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="text-truncate">@Model[0].RecipeDescription</p>
                            <p>@Model[0].RecipeType</p>
                            <p>Author: Name</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto mb-1 ml-5 random-card" style="width: 25rem;">
                <div class="card rounded-0">
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model[1].Id" asp-route-name="@Model[1].RecipeName">
                        <img src=@featuredPhoto2 asp-append-version="true" class="card-top img-fluid" />
                    </a>
                    <div class="card-header text-center">
                        <h5>@Model[1].RecipeName</h5>
                    </div>
                </div>
            </div>
            <div class="col-auto mt-4 ml-5 pt-2 random-card" style="width: 25rem;">
                <div class="card rounded-0">
                    <a asp-controller="Recipes" asp-action="Details" asp-route-id="@Model[2].Id" asp-route-name="@Model[2].RecipeName">
                        <img src=@featuredPhoto3 asp-append-version="true" class="card-top img-fluid" />
                    </a>
                    <div class="card-header text-center">
                        <h5>@Model[2].RecipeName</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>