@model IEnumerable<RecipeManagerCoreMVC.Models.ArticleModel>;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="bg-black">
        <div class="recipeType-div">
            <h4 class="recipeType-bg-gold">Articles</h4>
        </div>
    </div>
    <div class="row">
        @foreach (var article in Model)
        {
            var photoPath = "~/Images/UploadedImages/" + (article.PhotoPath ?? "defaultImg.jpg");
            <div class="col-sm-4 mb-4">
                <div class="card h-100 rounded-0">
                    <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" asp-route-name="@article.ArticleTitle">
                        <img src=@photoPath asp-append-version="true" class="card-top img-fluid" style="width:100%; max-height: 225px" />
                    </a>
                    <div class="card-header text-center">
                        <h5>@article.ArticleTitle</h5>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <p class="text-truncate">@article.ArticleBody</p>
                            <p>
                                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" asp-route-name="@article.ArticleTitle">
                                    <b>Read More...</b>
                                </a>
                            </p>
                            <p>
                                By:
                                @if (article.Author != null)
                                {
                                    <a asp-controller="Profile" asp-action="Details" asp-route-userName="@article.Author.UserName">@article.Author.UserName</a>
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>